body {
  margin: 40px;
}

.wrapper {
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: teal;
    color: black;
    padding: 20px;
    font-size: 150%;
  }

  .a {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .item-a {
    background-color: beige;
    border: 2px solid black;
    display: flex;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .b {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  .c {
    margin-top: 15px;
    border-radius: 50%;
    transform: translateY(10px);
    grid-column: 1;
    grid-row: 3 / span 3 ;
  }
  .d {
    grid-column: 3;
    grid-row: 4 / span 2 ;
  }
  .triangle {
    width: 0;
    height: 0;
    margin-left: -44px;
    margin-top: -50px;
    border-left: 62px solid transparent;
    border-right: 260px solid transparent;
    border-bottom: 127px solid darkslategray;
    transform: rotate(-26deg);
    position: absolute;
    z-index: 1;
  }
